/* @font-face {
  font-family: "font-regular";
  src: url("./fonts/refinery-75-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font-medium";
  src: url("./fonts/refinery-75-medium.ttf");
  font-weight: normal;
  font-style: normal;
} */

*,
*,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* --colorRed: linear-gradient(to right, #0028ee, #ccf000); */
}

body {
  background-image: linear-gradient(
    to right top,
    #000535,
    #09013c,
    #18016a,
    #210171,
    #2d0380,
    #350873,
    #2a095c,
    #300482,
    #2b108f,
    #370496,
    #5f20b2,
    #42079b
  );
  position: relative;
}
/*.shape {
  background: red;
  width: 20em;
  height: 1em;
  position: absolute;
  transform: translate(-150%, -50%);
  top: 50%;
  left: 50%;
}*/
/* button {
  font-family: "font-regular";
} */

h3 {
  color: white;
  font-size: 1.7em;
}
.container-mare {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  /* background-color: rgb(95, 57, 131); */
  margin: 0 auto;
  /* font-family: sa; */
}
.color_gray {
  color: rgb(226, 204, 204);
}
.header {
  position: absolute;
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 2;
}
.logoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: chakra petch;
  font-size: 1.6em;
  font-weight: 600;
}
.logoHeader img {
  filter: drop-shadow(3px 4px 6px black);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 1.1em;
  font-family: chakra petch;
}

nav ul li:hover {
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #00ff33, 0 0 10px #00ff33,
    0 0 15px #00ff33, 0 0 20px #00ff33, 0 0 25px #00ff33, 0 0 30px #00ff33;
}

.buttonWallet {
  width: 10em;
  height: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0;
  background-image: linear-gradient(to right top, #1366f6, #a03eef, #ee5bf3);
  font-size: 1.09em;
  font-family: chakra petch;
}
.buttonWallet img {
  width: 23px;
  height: 23px;
}

span {
  color: rgb(239, 52, 161);
}

.nft {
  color: rgb(104, 244, 211);
}

.button {
  width: 9em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(150, 19, 250);
  /*box-shadow: 0px 0px 20px #ebd1e4;*/
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: 300;
  cursor: pointer;
  line-height: 1;
}

.section1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4em;
}
.s1container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.oferta {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  /* border: solid black 2px; */
}

.title {
  /* font-family: "font-medium"; */
  font-family: chakra petch;
  font-weight: 700;
  font-size: 3.9em;
}
.title p {
  background: rgb(39, 39, 39);
  background: -webkit-linear-gradient(rgb(255, 1, 166), rgb(247, 99, 220));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.collect {
  background: rgb(39, 39, 39);
  background: -webkit-linear-gradient(rgb(255, 1, 166), rgb(247, 99, 220));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_white {
  background: rgb(39, 39, 39);
  background: -webkit-linear-gradient(rgb(255, 255, 250), rgb(255, 255, 250));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small-text {
  font-family: chakra petch;
  font-size: 1em;
  margin-top: 3em;
  color: white;
}
.buttonS1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 3em;
}

.explore-button {
  background-color: #d32c7a;
  box-shadow: 0px 0px 30px #ff00b7;
  border: 2px solid #ff00b7;
  width: 9em;
  height: 3em;
  color: white;
  gap: 0.5em;
}
.explore-button img {
  width: 28px;
  height: 28px;
}

.create-button {
  border: 2px solid rgb(135, 30, 181);
  border-radius: 8px;
  background-color: transparent;
  transform: 1s;
  width: 9em;
  height: 3em;
  color: white;
  gap: 0.5em;
}
.create-button img {
  width: 28px;
  height: 28px;
}
.statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-top: 4em;
  color: white;
  font-family: chakra petch;
}

.right-side {
  width: 100%;
  height: 100%;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  /* border: solid black 2px; */
}

.cards-line {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-left: 6em;
}
.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  /*margin-top: -200px;*/
}

.cards .img:hover {
  transform: scale(1.1);
  transition: 1s ease all;
  z-index: 20;
}
.img {
  width: 100%;
  height: 100%;
}

.cards img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
  /*box-shadow: 0px 0px 5px 5px rgb(63, 174, 218);*/
}
.img1 {
  z-index: 3;
}
.img2 {
  z-index: 2;
}
.img1 img {
  z-index: 3;
  transform: rotate(-10deg) translateX(50%);
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);
}
.img2 img {
  transform: rotatey(0deg) translateY(-11%);
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);
  /*box-shadow: 0px 0px 5px 5px red;*/
  z-index: 2;
}

.img3 img {
  /*box-shadow: 0px 0px 5px 5px rgba(68, 0, 255, 0.786);*/
  z-index: 1;
  transform: rotate(10deg) translateX(-50%);
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);
}

.glass {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15%;
  bottom: -25%;
  width: 40%;
  height: 45%;
  z-index: 4;
  background: rgba(212, 205, 205, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(218, 190, 190, 0.1);
  /*-webkit-backdrop-filter: blur(4.8px);*/
  border: 1px solid rgba(212, 205, 205, 0.27);
  gap: 4px;
  padding: 10px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 23%);
  font-family: chakra petch;
}

.s3-glass .glass {
  width: 30% !important;
}
.Abstract-side {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  color: white;
}
.small-title {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  font-size: 1.1em;
}
.human-icon {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: 0.8em;
}

.human-icon img {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 50%;
  background-color: lightblue;
  margin-bottom: 15px;
}
.price p {
  font-size: 0.8em;
  color: rgb(205, 208, 210);
}
.price img {
  width: 30px;
  height: 30px;
}

.reserved-eth {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: -10px;
}
.Abstract-side2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  font-size: 0.8em;
  font-family: chakra petch;
}

.small-title2 {
  width: 100%;
  font-size: 1em;
  font-family: chakra petch;
  color: rgb(205, 208, 210);
  margin-top: 10px;
}
.numbers {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: chakra petch;
  font-size: 0.9em;
  color: white;
}
.time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: chakra petch;
  font-size: 0.7em;
  color: rgb(205, 208, 210);
}

.button-glass {
  background-image: linear-gradient(to right top, #1366f6, #a03eef, #ee5bf3);
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  font-family: chakra petch;
  width: 8.2em;
  height: 2.7em;
  font-size: 1.3em;
  color: white;
  object-fit: contain;
}

.button-glass img {
  width: 9px;
  box-shadow: none;
}

.logo-section {
  width: 100%;
}

.logo-filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  filter: brightness(0) saturate(100%) invert(87%) sepia(5%) saturate(136%)
    hue-rotate(314deg) brightness(97%) contrast(80%);
}
.logo-filter img {
  width: 13%;
  height: 100%;
  object-fit: contain;
}

.section2 {
  padding: 4em 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.s2container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.s2-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: chakra petch;
}

.dot-cercle {
  margin-right: 80px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: transparent;
  border: 10px dotted red;
  position: relative;
}

.dot-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 50px;
  font-family: chakra petch;
  color: white;
  font-size: 1.2em;
  font-weight: 100px;
}

.dot-text p {
  white-space: pre;
  width: 100%;
  transform: translateX(-30px);
}
/*.dot-cercle::after {
    content: "See all artwork-->"
    position: absolute;
    color: white;
    width: 100%;
    height: auto;
    left: 30%;
    top: 50%;
    transform: translate(10%, -50%);
    font-size: 1.1em;
  }*/

.s2cards-line {
  position: relative;
  margin-top: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.s2glass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: contain;
  width: calc(100% / 5);
  height: 400px;
  background: rgba(248, 240, 240, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(125, 111, 111, 0.288);
  padding: 20px;
}

.s2img {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.s2img.card1 {
  background-image: url(./assets/image0.jpg);
}
.s2img.card2 {
  background-image: url(./assets/image04.jpg);
}
.s2img.card3 {
  background-image: url(./assets/image05.jpg);
}
.s2img.card4 {
  background-image: url(./assets/image03.jpg);
}

.glass-bottom {
  width: 100%;
  color: white;
  font-size: 0.9em;
  font-family: chakra petch;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: white;
}
.owned {
  font-size: 0.7em;
  color: rgb(226, 204, 204);
}

.blue-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  background-color: blue;
  border-radius: 50px;
  color: white;
  font-size: 0.8em;
  font-family: chakra petch;
}
.middle {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.current {
  font-size: 0.7em;
  color: rgb(194, 177, 177);
}
.minifooter {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.s2glass-button {
  width: 50%;
  background-color: transparent;
  border: 2px solid rgb(165, 11, 179);
  border-radius: 40px;
  box-shadow: none;
}
.s2glass-button:hover {
  background-color: rgb(173, 21, 112);
}
.view {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2px;
  font-size: 0.8em;
  color: rgb(226, 204, 204);
}

.icon img {
  width: 80%;
  height: 80%;
  filter: brightness(0) invert(1);
}

.s2-footer {
  width: 100%;
  margin-top: 6em;
  color: white;
  font-family: chakra petch;
}

.s2-footer-title {
  font-size: 2em;
}
img {
  /*margin-bottom: 1.5em;*/
  height: 60px;
}
.s2-text-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-family: chakra petch;
  margin-top: 4em;
}

.s2-text-line p {
  font-size: 0.8em;
}
.t {
  font-size: 1.5em;
  margin-bottom: 0.8em;
}

.s3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.s3-t {
  width: 100%;
  height: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 2em;
  font-family: chakra petch;
}

.s3t1 {
  color: white;
  font-size: 2em;
}
.s3-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
}
.s3-white-line {
  width: 20em;
  height: 0.5em;
  background-color: white;
  border-radius: 50px;
}
.s3-pink-line {
  width: 7em;
  height: 0.5em;
  background-color: rgb(246, 13, 203);
  border-radius: 50px;
}
.s3-01 {
  color: rgb(243, 4, 215);
}
.s3-04 {
  color: rgb(54, 92, 244);
}
.s2Test {
  width: 20%;
}

.s3-glass {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.s3-glass .glass {
  position: relative;
  left: 0;
  bottom: 0;
}

.s3-glass1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
  clip-path: none;
}
.s3-glass .img-card {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.s3-glass2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
  clip-path: none;
}
.s3-glass3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
  clip-path: none;
}

.s3-glass-icon-line {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  padding: 10px;
}
.s3-human-icon img {
  width: 60px;
  height: 60px;
  border-radius: 20%;
}

.name .s3-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.created {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
}
.created p {
  font-size: 0.8em;
  margin-right: 5px;
}
.s3-title p {
  font-size: 1em;
  color: rgb(204, 197, 197);
}
.created p {
  font-size: 1em;
}

.s3-small-icon {
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.s3-icon {
  height: 1.8em;
}
.s3-numbers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0.7em;
}
.s3-numbers p {
  padding: 0.3em;
  margin-left: 5em;
  margin-right: 5em;
}
.s3button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
.s3button1 {
  width: 13em;
  height: 3.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(233, 219, 219, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /*backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);*/
  color: white;
  line-height: 1;
  font-size: 0.8em;
}

.s3button2 {
  width: 14em;
  height: 3.2em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 33, 127);
  color: white;
}
.btn-icn {
  width: 1.2em;
  height: 1.2em;
  margin-right: 7px;
  margin-bottom: 3px;
}

.section4 {
  width: 100%;
  height: 100%;
}
.s4 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 16em;
  gap: 2em;
}
.s4offer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-bottom: 8em;
}
.s4line1 {
  font-family: chakra petch;
  font-weight: 700;
  font-size: 3.9em;
  color: rgb(239, 52, 161);
}
.s4line2 {
  font-family: chakra petch;
  font-weight: 700;
  font-size: 3.9em;
  color: rgb(104, 244, 211);
}
.s4lorem {
  font-family: chakra petch;
  font-size: 1em;
  color: white;
  margin-top: 3em;
  margin-bottom: 3em;
}
.s4button {
  width: 12em;
  height: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0;
  background-image: linear-gradient(to right top, #1366f6, #a03eef, #ee5bf3);
  font-size: 1.09em;
  font-family: chakra petch;
  color: white;
  font-weight: 400;
}

.s4cards {
  width: 65%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(35, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-right: -7em;
}
.leftcercle1up {
  position: absolute;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: rgb(172, 82, 236);
  margin-left: -1em;
  margin-top: -4em;
}
.leftcercle2up {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: rgb(255, 0, 183);
  margin-top: -2em;
  margin-left: 3em;
}
.leftcercle1down {
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  border: 2px solid orangered;
  border-radius: 50%;
  background-color: transparent;
  margin-top: 35em;
  margin-left: 4.5em;
}
.leftcercle2down {
  position: absolute;
  width: 2.8em;
  height: 2.8em;
  border-radius: 50%;
  background-color: rgb(189, 55, 78);
  margin-top: 33em;
  margin-left: 12em;
  z-index: -1;
}
.rightcercle1up {
  position: absolute;
  width: 3em;
  height: 3em;
  border: 2px solid greenyellow;
  border-radius: 50%;
  background-color: transparent;
  margin-top: -1em;
  margin-left: 34em;
}
.rightcercle2up {
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: orange;
  margin-top: 2.5em;
  margin-left: 37em;
}
.rightcercle1down {
  position: absolute;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: rgb(252, 94, 236);
  margin-top: 39em;
  margin-left: 45em;
}
.div {
  display: grid;
  place-content: center;
}

.div1 {
  grid-column: 1 / span 9;
  grid-row: 2 / span 4;
}
.div1 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.div2 {
  grid-column: 10 / span 9;
  grid-row: 1 / span 3;
}
.div2 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.div3 {
  grid-column: 19 / span 6;
  grid-row: 2 / span 2;
}
.div3 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.div4 {
  grid-column: 25 / span 6;
  grid-row: 2 / span 2;
}
.div4 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.div5 {
  grid-column: 10 / span 11;
  grid-row: 4 / span 3;
}
.div5 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
}
.div6 {
  grid-column: 21 / span 10;
  grid-row: 4 / span 4;
}
.div6 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.div7 {
  grid-column: 31 / span 6;
  grid-row: 4 / span 2;
}
.div7 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.section5 {
  width: 100%;
  height: 100%;
}
.s5 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.s5header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}
.s5-title {
  font-family: chakra petch;
  font-size: 3.8em;
  font-weight: 800;
  color: white;
}
.s5button {
  width: 14em;
  height: 4.5em;
  background-color: rgb(234, 41, 176);
  gap: 0.5em;
  border-radius: 20px;
}
.s5button img {
  width: 20px;
  height: 20px;
}

.s5button-text {
  font-size: 1.2em;
  font-family: chakra petch;
  color: white;
  font-weight: 400;
}

.s5row1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.s5glass-up {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  object-fit: contain;
  width: 32%;
  height: 400px;
  background: rgba(248, 240, 240, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(125, 111, 111, 0.288);
  clip-path: none;
  padding: 20px;
  margin-top: 5em;
}
.s5glass-header {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: row;
  font-family: chakra petch;
  color: white;
  /* background-color: red; */
  width: 100%;
}
.s5human-icon img {
  width: 60px;
  height: 60px;
  border-radius: 20%;
}
.s5-name .created p:not(.color_gray) {
  color: white;
  font-size: 1.2em;
}
.s5-glass-icon {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  border-radius: 10px;
  background-color: #424365;
  padding: 3px;
  gap: 10px;
}
.s5-glass-icon img {
  width: 37%;
  height: inherit;
  object-fit: contain;
}
.s5glass-header .human-icon {
  width: 100%;
  /* background-color: black; */
}
.s5glass-header .human-icon img {
  margin: unset;
}
.s5row2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.s5glass-down {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  object-fit: contain;
  width: 32%;
  height: 400px;
  background: rgba(248, 240, 240, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(125, 111, 111, 0.288);
  clip-path: none;
  padding: 20px;
  margin-top: 5em;
}
