@font-face {
  font-family: "font-regular";
  src: url("./fonts/refinery-75-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font-medium";
  src: url("./fonts/refinery-75-medium.ttf");
  font-weight: normal;
  font-style: normal;
}

*,
*,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to right top,
    #0716aa,
    #3120ae,
    #472ab1,
    #5934b5,
    #683fb9,
    #7441bd,
    #8044c1,
    #8b46c5,
    #993fc9,
    #a735cc,
    #b726ce,
    #c603cf
  );
  font-family: "font-regular";
}

.container-mare {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  /* background-color: rgb(95, 57, 131); */
  margin: 0 auto;
  /* font-family: sa; */
}

.header {
  position: absolute;
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 20px;
  z-index: 2;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li:hover {
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #00ff33, 0 0 10px #00ff33,
    0 0 15px #00ff33, 0 0 20px #00ff33, 0 0 25px #00ff33, 0 0 30px #00ff33;
}

.buttonWallet {
  background-color: rgba(241, 137, 249, 1);
  background-image: linear-gradient(
    90deg,
    rgba(241, 137, 249, 1) 0%,
    rgba(160, 58, 104, 1) 33%,
    rgba(46, 154, 216, 1) 66%
  );
  cursor: pointer;
}
span {
  color: rgb(242, 90, 179);
}
.nft {
  color: rgb(248, 247, 249);
}
.button {
  width: 9em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(121, 6, 236);
  box-shadow: 0px 0px 20px #ebd1e4;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: 300;
  cursor: pointer;
}

.section1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.s1container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.oferta {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  /* border: solid black 2px; */
}

.title {
  font-family: "font-medium";
  font-weight: 800;
  font-style: italic;
  font-size: 3.5em;
}
.small-text {
  font-size: 1em;
  margin-top: 3em;
  color: white;
}
.buttonS1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 3em;
}

.explore-button {
  background-color: #d32c7a;
  box-shadow: 0px 0px 30px #ff00b7;
  border: 2px solid #ff00b7;
  width: 7em;
  color: white;
}

.create-button {
  border: 2px solid rgb(135, 30, 181);
  border-radius: 8px;
  background-color: transparent;
  transform: 1s;
  width: 7em;
  color: white;
}
.statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-top: 4em;
  color: white;
}

.right-side {
  width: 60%;
  height: 100%;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  /* border: solid black 2px; */
}

.cards-line {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  /*margin-top: -200px;*/
}
.img {
  width: auto;
  height: 100%;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img1 {
  /*position: absolute;
  margin-left: 4em;
  margin-bottom: 0;*/
  box-shadow: 0px 0px 5px 5px rgb(63, 174, 218);
  z-index: 3;
  transform: rotate(-10deg) translateX(50%);
}
.img2 {
  /*position: absolute;
  margin-left: 14em;
  margin-top: -25px;*/
  transform: rotatey(180deg) translateY(-12%);
  box-shadow: 0px 0px 5px 5px red;
  z-index: 2;
}

.img3 {
  /*position: absolute;
  margin-left: 22em;*/
  box-shadow: 0px 0px 5px 5px rgba(68, 0, 255, 0.786);
  z-index: 1;
  transform: rotate(10deg) translateX(-50%);
}

.glass {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15%;
  bottom: -25%;
  width: 33%;
  height: 40%;
  z-index: 4;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  gap: 4px;
  padding: 10px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.Abstract-side {
  width: 100%;
  color: white;
  font-size: 13px;
}

.human-icon {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Abstract-side2 {
  width: 100%;
}

.Abstract-side2 p {
  color: rgb(253, 69, 13);
}

.logo-section {
  width: 100%;
  margin-top: -70px;
}

.logo-filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  filter: brightness(0) saturate(100%) invert(87%) sepia(5%) saturate(136%)
    hue-rotate(314deg) brightness(97%) contrast(80%);
}
.logo-filter img {
  width: 13%;
  height: 100%;
  object-fit: contain;
}
