*,
*,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color_blue: #c5e6ff;
  --color_red: #ff0000;
  --color_white: #fff;
  --color_softGray: #bfbfbf;
  --textShadowFull: var(--textShadow) 0px 0px 10px,
    var(--textShadow) 0px 0px 10px, var(--textShadow) 0px 0px 5px,
    var(--textShadow) 0px 0px 16px;
  --textShadow: #ff0000;
  --header_color: #141c33;
  --footer_color: #010718;
}

body {
  font-family: sans-serif;
}
/* @media screen {   480px 568px   768px  991px + portrait  min-width: 991px
  max-width: 1920px;
} */
@media (max-width: 480px) {
  header {
    background-color: yellow !important;
  }
}
a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3em;
  background-color: var(--header_color);
  position: absolute;
  top: 0;
}
.header-cta {
  /*parintele butoanelor*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 5%;
  gap: 15px;
  font-weight: bold;
  font-size: 1em;
}

.header-cta .cta-button {
  /*<a> butoane din header*/
  background-color: var(--color_red);
  color: white;
  padding: 0.5em 1.5em;
  border-radius: 100px;
  text-transform: uppercase;
}
.header-cta .cta-button:nth-child(1) {
  background-color: transparent !important;
  border: 1px solid red;
}
header img {
  width: 10%;
  height: 100%;
  object-fit: contain;
  margin-left: 5%;
}

.section1 {
  width: 100%;
  height: 100vh;
}

.hero {
  background-image: url(./png/bg-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side,
.right-side {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.right-side-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.5vh;
  transform: skew(-5deg, -8deg);
}
.s {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.line-1 {
  font-size: 1.2em;
  color: lightblue;
  font-weight: 700;
}
.line-2 {
  font-size: 1.2em;
  font-weight: 700;
  color: white;
}
.line-3 {
  font-size: 3em;
  font-weight: 900;
  color: white;
  text-shadow: var(--textShadowFull);
}

.line-4 {
  font-size: 1.2em;
  color: lightblue;
  font-weight: 600;
}

.right-side .cta-button {
  font-weight: 800;
  font-size: 1.6em;
  background-color: var(--color_red);
  color: white;
  padding: 0.5em 2.5em;
  margin-top: 50px;
  border-radius: 100px;
  width: fit-content;
}

.section2 {
  width: 100%;
  background-color: var(--footer_color);
}

.steps {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 4em 0;
  margin: 0 auto;
  background-color: var(--footer_color);
  color: var(--color_white);
}
.cercle {
  width: 7em;
  height: 7em;
  background-color: var(--color_red);
  border-radius: 100%;
  margin-bottom: 2em;
}
.step1 {
  text-align: center;
  gap: 10px;
}
.step2 {
  text-align: center;
  gap: 10px;
}

.step2 .text {
  width: 50%;
}
.step3 {
  text-align: center;
  gap: 10px;
}

.title-deposit {
  font-size: 1.5em;
  font-weight: bold;
}

.text {
  font-size: 1.2em;
}

.section3 {
  width: 100%;
  height: 100vh;
  background-color: brown;
}
